{% extends 'user/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <form method="post" class="login100-form validate-form">
            <span class="login100-form-title p-b-37">
					Register New Account
				</span>
            {% csrf_token %}
            {{ form | crispy }}

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Sign Up
                </button>
            </div>

            <div class="text-center">
                <div class="text-center p-t-57 p-b-20">
					<span class="txt1">
						You already have an account?
					</span>
                    <a href="{% url 'login' %}" class="txt2 hov1">
                        Login
                    </a>
                </div>
            </div>
        </form>

{% endblock %}